target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.#*
*~
*.ucls
*#
*.log
*.log.*
.DS_Store
*.swp
*.pid
.classpath
.project
.settings
bin
build
output
lib/downloaded
*.ser
target/
.idea
*.iml

